
@{
    ViewBag.Title = "New";
}

<h2>Creare categorie</h2>

<form method="post" action="/Categorii/New">
    <label>Nume categorie</label>
    <br />
    <input type="text" name="NumeCategorie" />
    <br /><br />
    <button type="submit">Adauga categorie</button>
</form>
